@font-face {
  font-family: "SFProDisplay";
  src: url("fonts/SFProDisplay/SFProDisplay-Regular.woff2") format("woff2"), url("fonts/SFProDisplay/SFProDisplay-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("fonts/SFProDisplay/SFProDisplay-Medium.woff2") format("woff2"), url("fonts/SFProDisplay/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("fonts/SFProDisplay/SFProDisplay-Semibold.woff2") format("woff2"), url("fonts/SFProDisplay/SFProDisplay-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "SFProDisplay";
  src: url("fonts/SFProDisplay/SFProDisplay-Bold.woff2") format("woff2"), url("fonts/SFProDisplay/SFProDisplay-Bold.woff") format("woff");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
* {
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: unset;
}

img {
  max-width: 100%;
  max-height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
  transition: 0.2s;
}

button {
  border: 0;
  box-shadow: none;
  padding: 0;
}

body {
  width: 100%;
  background: #fff;
  font-family: "SFProDisplay", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.25;
  color: #002033;
  letter-spacing: -0.408px;
}

.container {
  width: 100%;
  padding: 0 16px;
}

.title-1 {
  margin: 11px 0;
  font-weight: 600;
  font-size: 17px;
  line-height: 1.29;
}

.icon {
  display: inline-flex;
}
.icon svg {
  width: 100%;
  height: 100%;
}
.icon svg * {
  fill: currentColor;
}

.section-heading {
  display: flex;
  align-items: center;
}
.section-heading__link {
  margin-left: auto;
}

.counter {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 17px;
  height: 17px;
  background: #EB5757;
  border: 1px solid #fff;
  border-radius: 100%;
  font-weight: 500;
  font-size: 11px;
  line-height: 1;
  color: #fff;
  letter-spacing: 0.001em;
}

/*UI*/
.bottom-menu {
  position: sticky;
  bottom: 0;
  padding: 2px 0 12px;
  background: #fff;
  border-top: 1px solid #DEE4E8;
  box-shadow: 0px -0.5px 0px rgba(0, 0, 0, 0.3);
}
.bottom-menu__items {
  display: flex;
  align-items: center;
}
.bottom-menu__link {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  padding: 2px;
  font-weight: 600;
  font-size: 11px;
  color: rgba(0, 32, 51, 0.6);
}
.bottom-menu__link.active {
  color: #0078D2;
}
.bottom-menu__link.active .bottom-menu__icon svg * {
  fill: #0078D2;
}
.bottom-menu__icon {
  position: relative;
  height: 28px;
  margin-bottom: 2px;
}
.bottom-menu__icon svg {
  height: 100%;
}
.bottom-menu__counter {
  top: -2px;
  right: -6px;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  background: #0078D2;
  border-radius: 12px;
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
}

.link {
  display: inline-block;
  font-size: 12px;
  transition: 0.2s;
}
.link--blue {
  color: #0078D2;
}
.link--white {
  color: #fff;
}
.link--arrow {
  display: inline-flex;
  align-items: center;
}
.link__arrow {
  width: 12px;
  height: 12px;
  margin-left: 4px;
  color: inherit;
}
.link__arrow--left {
  transform: scale(-1, 1);
}

.modal {
  position: fixed;
  bottom: 0;
  left: 0;
  display: none;
  width: 100%;
  border-radius: 12px;
  background: #fff;
  z-index: 1000;
  overflow: auto;
}
.modal.show {
  display: flex;
}
.modal__container {
  margin: auto;
  padding: 40px;
  background: #fff;
}
.modal__content {
  text-align: center;
}
.modal__title {
  font-weight: 600;
  font-size: 18px;
}
.modal__text {
  margin-top: 20px;
  color: rgba(0, 32, 51, 0.6);
}
.modal__btn {
  margin-top: 40px;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  display: none;
  background: rgba(0, 0, 0, 0.5);
}
.overlay.show {
  display: block;
}

.tags {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  margin: -4px;
}
.tags__item {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 20px;
  padding: 4px 12px;
  margin: 4px;
  border-radius: 10px;
  background: rgba(0, 65, 102, 0.2);
  font-weight: 600;
  font-size: 10px;
  line-height: 1;
  color: #fff;
}

/*Components*/
.activity__item {
  display: flex;
  min-height: 120px;
  margin-top: 16px;
  padding: 16px 12px 10px;
  border-radius: 12px;
  background: linear-gradient(260.8deg, rgba(125, 174, 235, 0.25) 25.08%, rgba(67, 128, 208, 0.88) 65.95%, #2161AC 95.67%);
}
.activity__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 190px;
  color: #fff;
}
.activity__title {
  font-weight: 700;
  font-size: 17px;
}
.activity__text {
  margin-top: 11px;
}
.activity__link {
  margin-top: auto;
}
.activity__img {
  width: 118px;
  height: 84px;
  margin-left: auto;
}
.activity__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.category__swiper {
  padding: 0 16px;
  margin: 0 -16px;
}
.category__item {
  display: flex;
  flex-direction: column;
  width: 88px;
  height: 116px;
  padding: 9px 8px;
  background: linear-gradient(37.18deg, #3775CB 58.09%, #6EA0DD 100.25%);
  border-radius: 12px;
}
.category__img {
  height: 52px;
}
.category__name {
  margin-top: auto;
  color: #fff;
  letter-spacing: 0.001em;
}

.download {
  margin: 20px 0;
}
.download__link {
  display: flex;
  align-items: center;
  margin: 20px 0;
  padding: 16px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 32, 51, 0.1);
  font-weight: 700;
  font-size: 17px;
}
.download__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  margin-right: 16px;
  background: #0078D2;
  border-radius: 6px;
}
.download__icon svg {
  width: 16px;
  height: 16px;
}

.header {
  position: sticky;
  top: 0;
  margin: 6px 0;
  padding: 10px 0;
  background: #fff;
  z-index: 100;
}
.header--page .title-1 {
  margin: 0 auto;
}
.header--page .link {
  position: absolute;
  left: 16px;
  color: rgba(0, 32, 51, 0.6);
}
.header--page .link__arrow {
  margin: 0;
}
.header__container {
  position: relative;
  display: flex;
  align-items: center;
}

.header-profile {
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 14px;
}
.header-profile__icon {
  width: 22px;
  height: 22px;
  margin-right: 7px;
  border-radius: 100%;
  color: #0078D2;
}
.header-profile__arrow {
  width: 12px;
  height: 12px;
  margin-left: 4px;
  color: rgba(0, 32, 51, 0.6);
}

.header-notifications {
  position: relative;
  width: 24px;
  height: 24px;
  margin-left: auto;
}
.header-notifications__icon {
  width: 100%;
  height: 100%;
  color: #0078D2;
}
.header-notifications__counter {
  top: -2px;
  right: -6px;
}

.news--list {
  padding-bottom: 55px;
}
.news--list .news__item {
  width: 100%;
}
.news--list .news__item:not(:last-of-type) {
  margin-bottom: 16px;
}
.news--list .news__img {
  height: 145px;
}
.news--list .news__title {
  font-weight: 700;
}
.news--detail .news__item {
  width: 100%;
  box-shadow: none;
}
.news--detail .news__img {
  height: 145px;
}
.news--detail .news__title {
  margin-top: 12px;
  font-weight: 700;
}
.news--detail .news__date {
  margin: 0 auto 0 0;
}
.news__swiper {
  padding: 16px;
  margin: -16px;
}
.news__item {
  display: flex;
  flex-direction: column;
  width: 265px;
  height: auto;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 2px 10px rgba(0, 32, 51, 0.1);
}
.news__img {
  height: 112px;
  border-radius: 12px;
  overflow: hidden;
}
.news__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.news__content {
  display: flex;
  flex-direction: column;
  padding: 10px 24px 12px 16px;
  flex-grow: 1;
}
.news__title {
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  flex-grow: 1;
}
.news__text {
  margin-top: 8px;
  font-size: 12px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  flex-grow: 1;
}
.news__date {
  margin-top: 7px;
  font-size: 10px;
  letter-spacing: 0.001em;
  color: rgba(0, 32, 51, 0.6);
}
.news__top {
  display: flex;
  align-items: center;
  margin-top: 12px;
  font-size: 10px;
  letter-spacing: 0.001em;
  color: rgba(0, 32, 51, 0.6);
}
.news__tags {
  margin-top: 12px;
}
.news__subtitle {
  color: #636E83;
  letter-spacing: 0.001em;
}

.news-gallery {
  margin-top: 12px;
}
.news-gallery__swiper {
  margin-top: 12px;
}
.news-gallery__item {
  width: 154px;
  height: 109px;
  border-radius: 12px;
  overflow: hidden;
}
.news-gallery__item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.news-files {
  margin-top: 12px;
}
.news-files__container {
  display: flex;
  margin-top: 8px;
  padding: 16px;
  background: rgba(0, 32, 51, 0.05);
  border-radius: 12px;
}
.news-files__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin-right: 16px;
  background: #fff;
  border-radius: 100%;
  flex-shrink: 0;
}
.news-files__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.news-files__title {
  font-weight: 600;
  font-size: 14px;
}
.news-files__link {
  margin-top: 8px;
  color: #0078D2;
}

.news-info {
  display: flex;
  align-items: center;
  margin-top: 16px;
  padding: 16px 0 20px;
  border-top: 1px solid rgba(0, 32, 51, 0.05);
}
.news-info__item {
  display: flex;
  align-items: center;
  line-height: 1;
}
.news-info__item--likes {
  padding: 4px 10px;
  background: #0078D2;
  border-radius: 10px;
  color: #fff;
}
.news-info__item--likes .news-info__icon {
  color: #fff;
}
.news-info__item--views {
  margin-left: auto;
  color: #636E83;
}
.news-info__item--views .news-info__icon {
  color: rgba(0, 65, 102, 0.2);
}
.news-info__icon {
  margin-right: 4px;
}

.social__container {
  margin-top: 16px;
  padding: 16px 12px 23px;
  background: #0078D2;
  border-radius: 12px;
}
.social__title {
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 17px;
  color: #fff;
}
.social__items {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 -12px;
}
.social__link {
  display: inline-flex;
  width: 34px;
  height: 34px;
  margin: 0 12px;
}
.social__icon {
  width: 100%;
  height: 100%;
}

/*# sourceMappingURL=styles.css.map */
