@import "../../variables";

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 12px;
  background: $color-blue;
  border-radius: 12px;
  color: #fff;
  text-decoration: none;
  transition: 0.2s;
  cursor: pointer;
}