@import "../../variables";

.link {
  display: inline-block;
  font-size: 12px;
  transition: 0.2s;

  &--blue {
    color: $color-blue;
  }

  &--white {
    color: #fff;
  }

  &--arrow {
    display: inline-flex;
    align-items: center;
  }

  &__arrow {
    width: 12px;
    height: 12px;
    margin-left: 4px;
    color: inherit;

    &--left {
      transform: scale(-1, 1);
    }
  }
}